h1 {
    color: white;
    background-color:black;
    padding: 2%;
    }

body {
    text-align: center;
    background-color: #f1f1f1;
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: rgb(173, 134, 134);
}


/* Add a black background color to the top navigation */

.topMenu {
    background-color: rgb(146, 160, 236);
    margin-top: -30px;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topMenu a {
    float: center;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


/* Change the color of links on hover */

.topMenu a:hover {
    background-color: rgb(148, 126, 167);
    color: black;
}


/* Add a color to the active/current link */

.topMenu a.active {
    background-color:#f1f1f1; 
    color:black;
}
